.modal__poster-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.modal__poster-bg img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}
